body {
  margin:0;
}

.questnode {
  stroke: black;
  fill: black;
  stroke-width: 1px;
  /* opacity:0.6; */
}

g.built polygon.hex {
  fill:green;
}

.nodeCover {
  fill: #ff00ff00;
  stroke: none;
  stroke-width:2px;
}

g.selected .nodeCover {
  stroke:black;
  opacity:50%;
}

.path {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  opacity: 0.25;
  marker-end:url(#end-arrow-normal);
}

.level {
    fill: black;
    font-family: Bender-Black;
    font-size: 20px;
    fill:#FFF;
    stroke:#000;
    stroke-width:1px;
    letter-spacing:-2.5px;
    text-anchor: middle;
    alignment-baseline: central;
}

.image {
    fill: black;
    font-family: Verdana;
    font-size: 5px;
    text-anchor: middle;
    cursor: move;
}